@{
    ViewBag.Title = "Home Page";
}

<div id="app" class="row">
    <div id="content" class="col-md-9">
        <router-view></router-view>
    </div>
    <nav id="sidebar" class="col-md-3">
        <component-navbar></component-navbar>
    </nav>
</div>

@Scripts.Render("~/dist/vendor.bundle.js")
@Scripts.Render("~/dist/index.bundle.js")